:root {
    --bdpPrimaryLightBlue: #2D74FF;
 
    --bdpSecondaryBlue: #003396;
    --bdpSecondaryAqua: #0FDFF5;
    --bdpSecondaryLightGreen: #7DE72D;
    --bdpStarColor: #f3cd5b;
 
    --bdpButtonPrimary: #2D74FF;
    --bdpButtonSecondary: #FFF;
    --bdpButtonHover: #004ce1;
 
    --bdpFontPrimary: #1D2125;
    --bdpFontLight: #4f4f4f;
    --bdpFontSecondary: #FFF;
    --bdpFontHover: #2D74FF;
 
    --bdpMenuBackgroundTop: #2c3a52;
    --bdpMenuBackground: #2c3a52;
    --bdpMenuHover: #3e5172;
    --bdpMenuBorder: #3a445a;
    --bdpSearchDropdownBg: #19202E;
 
    --bdpOntime: #2d74ff;
    --bdpDelay: #f58331;
    --bdpEarly: #03a17b;
    --bdpSeperatorBg: #a8a8a8;
 
    --bdpError: #D71717;
    --bdpInactive: #536662;
 
    --PSABDP-Colour-Upload-Background: #F3FAFF;
    --psabdp-icon-background: #E3EDFF;
}