<div class="layout-footer d-flex" style="height:56px;padding-left: 23px;padding-right: 14px;">
    <div class="col-12 md:col-6 text-left">
        End User License Agreement <a href="src\assets\bdp\images\maintenance.svg" target="">(EULA)</a>
    </div>
    <div class="col-12 md:col-6 text-right">
        <!-- Copyright &#169; {{ currentYear }} BDP International, Inc -->
        &#169; {{ currentYear }} PSA International Pte. Ltd. | &#169; {{ currentYear }} BDP International Inc. | All
        rights reserved
    </div>
</div>
